.b1 {
    background-image: url(img/rain-7803539_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.hd1 {
    display: inline-block;
    text-align: center;
    font-family: "Tagesschrift";
    border-style: solid;
    border-radius: 50px;
    border-width: 5px;
    background: linear-gradient(to right, darkturquoise, grey, darkturquoise, grey);
    padding: 10px 20px;
    border-color: black;
    margin-bottom: 20px;
}

.d1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 30px 0;
}

.alink {
    font-family: "Tagesschrift";
    font-size: 40px;
    text-decoration: none;
    border-style: outset;
    border-radius: 40px;
    padding: 10px 20px;
    border-color: black;
    border-width: 5px;
    background-image: linear-gradient(to right, darkturquoise, grey, darkturquoise, grey);
    color: azure;
}

.div0 {
    width: 11cm;
    margin: 40px 0;
    color: azure;
    text-align: center;
}

.d2 {
    height: 26cm;
    width: 30cm;
    border: 10px solid black;
    background-image: linear-gradient(darkturquoise, grey);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    margin: 100px 0;
}

.pr {
    font-family: "Tagesschrift";
    font-size: 20px;
    text-align: center;
}

span {
    color: rgb(66, 93, 18);
    font-size: 30px;
    text-decoration: underline;
}
